[submodule "resp"]
	path = resp
	url = https://github.com/nousxiong/resp.git
[submodule "redox"]
	path = redox
	url = https://github.com/hmartiro/redox
[submodule "redis3m"]
	path = redis3m
	url = https://github.com/luca3m/redis3m.git
